#map #sphere {
    fill: #4242e4;
}

#map #country {
    fill: lightgreen;
    stroke: black;
    stroke-width: 0.05px;
}

#map #country:hover {
    fill: red;
}

#tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: fill;
}